/* Notification icon */
#notificationDropdown{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Badge */
.notification-badge{
    position: absolute;
    top: 2px;
    right: 0;

    min-width: 18px;
    height: 18px;

    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #dc3545;
    color: #fff;

    font-size: 10px;
    font-weight: 700;
    line-height: 1;

    border-radius: 999px;
    border: 2px solid #fff;

    z-index: 999;
}

/* Header harus berada di atas konten */
.app-header{
    position: relative;
    z-index: 1055;
}

/* Dropdown notification */
#notificationDropdown + .dropdown-menu{
    z-index: 1060 !important;
}

.table-responsive,
.dataTables_wrapper{
    z-index: 1 !important;
    position: relative;
}